.header {
  font-size: 15px;
  color: red;
}

.button-style {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.calendar {
  width: 100px;
  height: 90px;
  background-color: white;
  border: 2px solid black;
  border-collapse: collapse;
}

th {
  border: 2px solid black;
  background-color: #29335c;
  color: #f3a712;
}

td {
  border: 2px solid black;
}
